@import "./sassConfig.scss";

.border-radius-8 {
  border-radius: 8px;
}

.border-radius-4 {
  border-radius: 4px;
}

.border-test {
  border: 1px solid #000;
}

.align-items-center {
  align-items: center;
}
